body{
    background: rgb(240, 236, 236);
    color: rgb(240, 236, 236);
}
.wrap{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.navigacion a{
    color: white;
}
header{
    background: black;
    padding: 20px;
    font-size: 2res;
    text-transform: uppercase;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header .container a{
    color: inherit;
    text-decoration: none;
}
footer{
    background: rgb(29, 28, 28);
}
main .container{
    flex: 1 0 auto;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: black;
    background-image: url('../img/tint.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 700px;
}